POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=switchyard
POSTGRES_PASSWORD=switchyard_secret
POSTGRES_DB=switchyard

REDIS_HOST=redis
REDIS_PORT=6379

JWT_SECRET=super_secret_switchyard_jwt_key_2026

GATEWAY_WS_PORT=9000
OPTIMIZER_URL=http://optimizer:8000
API_URL=http://api:3000
